body {
    background-color: #efefef;
}

.wrapper {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    max-width: 510px;
    margin: 5px auto 40px;
    padding: 50px 50px 60px;
    text-align: center;
}

h1 {
    margin-bottom: 25px;
}

img {
    margin-bottom: 10px;
}

p,li,div {
    text-align: left;
}

.line {
    background-color: #7b7b7b;
    border: 0 none;
    height: 1px;
}

p {
    padding-left: 10px;
}

ul {
    padding-left: 30px;
}