<!DOCTYPE html>
<html>
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/template.js"></script>
    <script src="js/dist/check.js"></script>
    <script src="js/dist/script.js"></script><script src="js/dist/test.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   <div class="template-wrapper">
        <script type="text/html" id="tmp">
            <div class="wrapper">
                <div class="title"><%= title %></div>
                <form>
                    <div class="question_title"><%= question_1 %></div>
                    <ul>
                        <li><input type="checkbox" id="check1"><label for="check1"><%= answer_1_1 %></label></li>
                        <li><input type="checkbox" id="check2"><label for="check2"><%= answer_1_2 %></label></li>
                        <li><input type="checkbox" id="check3"><label for="check3"><%= answer_1_3 %></label></li>
                    </ul>
                    
                    <div class="question_title"><%= question_2 %></div>
                    <ul>
                        <li><input type="checkbox" id="check4"><label for="check4"><%= answer_2_1 %></label></li>
                        <li><input type="checkbox" id="check5"><label for="check5"><%= answer_2_2 %></label></li>
                        <li><input type="checkbox" id="check6"><label for="check6"><%= answer_2_3 %></label></li>
                    </ul>
                    
                    <div class="question_title"><%= question_3 %></div>
                    <ul>
                        <li><input type="checkbox" id="check7"><label for="check7"><%= answer_3_1 %></label></li>
                        <li><input type="checkbox" id="check8"><label for="check8"><%= answer_3_2 %></label></li>
                        <li><input type="checkbox" id="check9"><label for="check9"><%= answer_3_3 %></label></li>
                    </ul>
                    
                    <input type="submit" class="button_submit" value="<%= check %>">
                </form>
            </div>
        </script>
    </div>
    
</body>
</html>