@font-face {
    font-family: 'League Gothic';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/League_Gothic.woff") format('woff');
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

header {
    background: url(../img/header-bg.jpg) top center no-repeat;
    box-sizing: border-box;
    height: 846px;
    padding-top: 51px;
}

.container {
    box-sizing: border-box;
    margin: 0 auto;
    width: 960px;
    
    &--shadow {
//        background: url(../img/shadow.png) bottom center no-repeat;
        width: 976px;
        height: 265px;
    }
}

.logo {
    float: left;
}

.menu {
    float: right;
    margin-top: 24px;
    
    &__item {
        border-bottom: 2px solid transparent;
        color: #fff;
        display: inline-block;
        font-family: 'League Gothic', sans-serif;
        font-size: 23.5px;
        margin-right: 40px;
        padding-bottom: 2px;
        padding-left: 7px;
        padding-right: 5px;
        text-decoration: none;
        text-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
        text-transform: uppercase;
        
        &:hover {
            border-color: #edbfff;
        }
        
        &:first-child {
            margin-right: 36px;
        }
        
        &:nth-child(2) {
            margin-right: 38px;
        }
        
        &:nth-child(3) {
            margin-right: 36px;
        }
        
        &:nth-child(4) {
            margin-right: 38px;
        }
        
        &:nth-child(5) {
            margin-right: 39px;
        }
        
        &:last-child {
            margin-right: 2px;
            padding-right: 0;
        }
    }
    
    &--footer {
        float: left;
        margin-top: 0;
        
        .menu {
            &__item {
                font-size: 20.5px;
                
                &:first-child {
                    padding-left: 0;
                    margin-right: 26px;
                }
                
                &:nth-child(2) {
                    margin-right: 27px;
                }
                
                &:nth-child(3) {
                    margin-right: 27px;
                }
                
                &:nth-child(4) {
                    margin-right: 26px;
                }
                
                &:nth-child(5) {
                    margin-right: 26px;
                }
            }
        }
    }
}

.slider {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.2);
    color: #fff;
    clear: both;
    height: 400px;
    margin-top: 227px;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.3);
    
    &__text-container {
        float: left;
        padding-top: 79px;
        width: 505px;
    }
    
    &__title {
        font-family: 'League Gothic', sans-serif;
        font-size: 58.5px;
    }
    
    &__sub-title {
        color: #edbfff;
        font-family: 'League Gothic', sans-serif;
        font-size: 32px;
    }
    
    &__text {
        font-size: 17px;
        margin-top: 6px;
        line-height: 24px;
    }
    
    &__img {
        float: right;
        margin-right: 70px;
        position: relative;
        top: -18px;
    }
    
    &__control {
        margin-top: 57px;
        float: right;
        margin-right: 170px;
        clear: both;
        
        &--light {
            margin-top: 0;
            float: none;
            margin-right: 0;
            clear: both;
            position: relative;
            top: -1px;
            margin-left: 195px;
            
            .slider__control-item {
                border: 1px solid #e8e8e8;
                box-sizing: border-box;
                background-color: #fff;
                height: 19px;
                width: 19px;
                
                &--active {
                    &::after {
                        background: #515151;
                        display: block;
                        content: '';
                        border-radius: 50px;
                        position: absolute;
                        height: 11px;
                        top: 3px;
                        left: 3px;
                        width: 11px;
                    }
                }
                
                &:hover {
                    &::after {
                        background: #515151;
                        display: block;
                        content: '';
                        border-radius: 50px;
                        position: absolute;
                        height: 11px;
                        top: 3px;
                        left: 3px;
                        width: 11px;
                    }
                }
            } 
        }
    }
    
    &__control-item {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        display: inline-block;
        height: 17px;
        position: relative;
        width: 17px;
        
        &:first-child {
            margin-right: 2px;
        }
        
        &:nth-child(2) {
            margin-right: 2px;
        }
        
        &:last-child {
            margin-right: -4px;
        }
        
        &:hover {
            &::after {
                background: #fff;
                display: block;
                content: '';
                border-radius: 50px;
                position: absolute;
                height: 11px;
                top: 3px;
                left: 3px;
                width: 11px;
            }
        }
    }
    
    &__control-item--active {
        &::after {
            background: #fff;
            display: block;
            content: '';
            border-radius: 50px;
            position: absolute;
            height: 11px;
            top: 3px;
            left: 3px;
            width: 11px;
        }
    }
}

.about {
    box-sizing: border-box;
    border-bottom: 1px solid #0d151b;
    border-top: 1px solid #33253a;
    height: 342px;
    padding-top: 76px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#745083+0,322539+100 */
    background: rgb(116,80,131); /* Old browsers */
    background: -moz-linear-gradient(top,  rgb(116,80,131) 0%, rgb(50,37,57) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgb(116,80,131) 0%,rgb(50,37,57) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgb(116,80,131) 0%,rgb(50,37,57) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */
    
    &__item {
        color: #fff;
        float: left;
        margin-left: 72px;
        text-shadow: 1px 0 0 #0f1518;
        width: 235px;
        
        &:nth-child(2) {
            margin-left: 104px;
            
            .about__more {
                margin-right: 16px;
            }
        }
        
        &:nth-child(3) {
            margin-left: 102px;
            width: 225px;
            
            .about__more {
                margin-right: 6px;
            }
        }
    }
    
    &__title {
        position: relative;
        font-family: 'League Gothic', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
    }
    
    &__text {
        font-size: 15.2px;
        line-height: 24px;
        margin-top: 7px;
    }
    
    &__more {
        color: #fff;
        font-family: 'League Gothic', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        float: right;
        margin-top: 21px;
        font-size: 18px;
        margin-right: 20px;
        
        &:hover {
            text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        }
    }
    
    &--key {
        &::before {
            background: url(../img/about.png) 0 0 no-repeat;
            content: '';
            display: inline-block;
            position: absolute;
            width: 30px;
            height: 31px;
            left: -55px;
            top: 6px;
        }
    }
    
    &--msg {
        &::before {
            background: url(../img/about.png) 0 -31px no-repeat;
            content: '';
            display: inline-block;
            position: absolute;
            width: 33px;
            height: 29px;
            left: -55px;
            top: 7px;
        }
    }
    
    &--music {
        &::before {
            background: url(../img/about.png) 0 -60px no-repeat;
            content: '';
            display: inline-block;
            position: absolute;
            width: 29px;
            height: 31px;
            left: -56px;
            top: 5px;
        }
    }
}

.testimonials {
    background-color: #f9f9f9;
    padding-top: 102px;
    padding-bottom: 69px;
    
    &__back {
        background: #fff;
        width: 451px;
        height: 270px;
        padding: 27px 35px 40px 40px;
        box-shadow: 1px 0 2px rgba(0, 0, 0, 0.05);
        position: relative;
        float: left;
        box-sizing: border-box;
        
        &::after {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 0px solid transparent;
            border-top: 20px solid #fff;
            bottom: -20px;
            position: absolute;
            right: 40px;
        }
        
        &::before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 2px solid rgba(0, 0, 0, 0.05);
            border-top: 20px solid rgba(0, 0, 0, 0.05);
            bottom: -20px;
            position: absolute;
            right: 39px;
        }
    }
    
    &__title {
        color: #454545;
        font-family: 'League Gothic', sans-serif;
        font-size: 30px;
        position: relative;
        text-transform: uppercase;
        margin-left: 23px;
        
        &::before {
            background: url(../img/user.png) 0 0 no-repeat;
            content: '';
            display: block;
            height: 51px;
            position: absolute;
            left: -63px;
            top: -11px;
            width: 50px;
        }
    }
    
    &__title-start {
        color: #edbfff;
    }
    
    &__text {
        color: #454545;
        font-size: 15.2px;
        line-height: 24px;
        margin-left: 23px;
        margin-top: 8px;
    }
}

.updates {
    float: right;
    width: 450px;
    margin-top: 27px;
    
    &__title {
        color: #454545;
        font-family: 'League Gothic', sans-serif;
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 16px;
    }
    
    &__more {
        color: #454545;
        font-family: 'League Gothic', sans-serif;
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: none;
        float: right;
        margin-right: 21px;
        margin-top: 29px;
    }
    
    &__post {
        color: #454545;
        clear: both;
        
        &:nth-child(2) {
            margin-bottom: 27px;
        }
        
        &:nth-child(3) {
            margin-bottom: 22px;
        }
    }
    
    &__post-title {
        font-size: 18px;
        font-weight: bold;
        margin-top: 18px;
    }
    
    &__post-text {
        font-size: 15.2px;
        margin-top: 8px;
        margin-left: 68px;
    }
    
    &__post-img {
        float: left;
        margin-right: 17px;
        margin-top: -2px;
    }
    
    &--768-1 {
        display: none;
    }
}

.line {
    height: 1px;
    background-color: #e6e6e6;
    
    &--light {
        background-color: #fefefe;
    }
}

.logos-box {
    background-color: #f9f9f9;
    font-size: 0;
    padding-top: 24px;
    padding-bottom: 29px;
    
    &__item {
        display: inline-block;
        text-decoration: none;
        vertical-align: middle;
        
        &:first-child {
            margin-left: 94px;
        }
        
        &:nth-child(2) {
            margin-left: 65px;
        }
        
        &:nth-child(3) {
            margin-left: 64px;
        }
        
        &:nth-child(4) {
            margin-left: 75px;
        }
        
        &:nth-child(5) {
            margin-left: 68px;
        }
        
        &:last-child {
            margin-left: 66px;
        }
    }
}

.blog {
    background-color: #ececec;
    height: 395px;
    padding-top: 98px;
    box-sizing: border-box;
    
    &__item {
        float: left;
        width: 280px;
        
        &:first-child {
            margin-right: 58px;
        }
        
        &:nth-child(2) {
            margin-right: 60px;
        }
    }
    
    &__copyright {
        color: #c5c5c5;
        font-family: Georgia, sans-serif;
        font-style: italic;
        font-size: 15.5px;
        text-shadow: 1px 0 0 #fff;
        margin-top: 19px;
        margin-bottom: 11px;
    }
    
    &__text {
        color: #787878;
        line-height: 24px;
        font-size: 15px;
        text-shadow: 1px 0 0 #fff;
    }
    
    &__title {
        color: #454545;
        font-size: 30px;
        font-family: 'League Gothic', sans-serif;
        text-shadow: 1px 0 0 #fff;
        text-transform: uppercase;
        margin-top: -2px;
        margin-bottom: 8px;
    }
    
    &--960 {
        display: none;
    }
}

footer {
    background: url(../img/footer.jpg) top center repeat-x;
    clear: both;
    height: 114px;
    padding-top: 47px;
    box-sizing: border-box;
}

.design {
    color: #fff;
    float: right;
    margin-top: 7px;
    font-size: 11.5px;
    text-shadow: 2px 0 2px rgba(0, 0, 0, 0.4);
    
    &__bold {
        font-weight: bold;
        font-size: 13px;
    }
}

@media (max-width: 1024px) {
    header {
        height: 798px;
    }
    
    .container {
        width: 768px;
    }
    
    .menu {
        float: left;
        margin-top: 33px;
        
        &__item {
            &:first-child {
                padding-left: 0;
            }
        }
        
        &--footer {
            margin-top: 0;
            
            .menu {
                &__item {
                    &:nth-child(2) {
                        margin-right: 26px;
                    }
                }
            }
        }
    }
    
    .slider {
        margin-top: 193px;
        
        &__text-container {
            padding-top: 98px;
            padding-left: 24px;
            width: 285px;
        }
        
        &__title {
            font-size: 47px;
        }
        
        &__sub-title {
            font-size: 24px;
            margin-top: 9px;
        }
        
        &__text {
            margin-top: 7px;
            font-size: 15.2px;
            line-height: 26px;
        }
        
        &__img {
            margin-right: 68px;
            top: -23px;
        }
        
        &__control {
            margin-top: 1px;
            margin-right: 167px;
            
            &--light {
                margin-left: 136px;
                
                .slider__control-item {
                    &:nth-child(2) {
                        margin-right: -2px;
                    }
                }
            }
        }
        
        &--768 {
            display: none;
        }
    }
    
    .about {
        height: 343px;
        padding-top: 77px;
        
        &__text {
            margin-top: 3px;
        }
        
        &__item {
            width: 165px;
            margin-left: 65px;
            
            &:nth-child(2) {
                margin-left: 87px;
                
                .about__more {
                    margin-right: 20px;
                }
            }
            
            &:nth-child(3) {
                margin-left: 96px;
                width: 165px;
                
                .about__more {
                    margin-right: 20px;
                }
            }
        }
        
        &__title {
            font-size: 23.3px;
        }
        
        &__more {
            margin-top: 9px;
        }
        
        &--key::before {
            top: 1px;    
        }
            
        &--msg {
            &::before {
                background: url(../img/about.png) 0 0 no-repeat;
                content: '';
                display: inline-block;
                position: absolute;
                width: 30px;
                height: 31px;
                left: -55px;
                top: 1px;
            }
        }
    
        &--music {
            &::before {
                background: url(../img/about.png) 0 0 no-repeat;
                content: '';
                display: inline-block;
                position: absolute;
                width: 30px;
                height: 31px;
                left: -55px;
                top: 1px;
            }
        }
            
        &--768 {
            display: none;
        }

    }
    
    .testimonials {
        &__back {
            width: 313px;
            padding: 27px 23px 40px 17px;
            margin-left: 23px;
            
            &::after,
            &::before {
                display: none;
            }
        }
        
        &__title {
            font-size: 24px;
        }
        
        &__title-start {
            display: block;
        }
        
        &--768 {
            display: none;
        }
    }
    
    .updates {
        width: 374px;
        
        &__post {
            &:nth-child(3) {
                margin-bottom: 26px;
            }
        }
        
        &__more {
            margin-right: 46px;
            margin-top: 25px;
        }
        
        &--768-1 {
            display: inline;
        }
            
        &--960 {
            display: none;
        }
        
        &--768 {
            display: none;
        }
    }
    
    .logos-box {
        &__item {
            &:first-child {
                margin-left: 2px;  
            }
            
            &:nth-child(2) {
                margin-left: 55px;
            }
            
            &:nth-child(3) {
                margin-left: 54px;
            }
            
            &:nth-child(4) {
                margin-left: 65px;
            }
            
            &:nth-child(5) {
                margin-left: 58px;
            }
            
            &:last-child {
                margin-left: 56px;
            }
        }
    }
    
    .blog {
        padding-top: 103px;
        
        &__title {
            font-size: 24px;
        }
        
        &__item {
            width: 210px;
            
            &:nth-child(1) {
                margin-right: 56px;
            }
            
            &:nth-child(2) {
                margin-right: 53px;
            }
        }
        
        &--768 {
            display: none;
        }
            
        &--960 {
            display: inline;
        }
    }
    
    footer {
        background: url(../img/footer-768.jpg) top center repeat-x;
        height: 202px;
    }
    
    .design {
        margin-right: 43px;
        margin-top: 56px;
    }
}

@media (max-width: 800px) {
    .container {
        width: 480px;
        
//        &--shadow {
//            height: 537px;
//        }
    }
    
    header {
        text-align: center;
        position: relative;
        height: 548px;
    }
    
    .logo {
        float: none;
    }
    
    .menu {
        &--footer {
            margin-left: 22px;

            .menu {
                &__item {
                    &:first-child {
                        margin-right: 8px;
                    }

                    &:nth-child(2) {
                        margin-right: 8px;
                    }

                    &:nth-child(3) {
                        margin-right: 8px;
                    }

                    &:nth-child(4) {
                        margin-right: 8px;
                    }

                    &:nth-child(5) {
                        margin-right: 7px;
                    }
                }
            }
        }
    }
    
    .menu--480 {
        border-radius: 10px;
        border: 1px solid #051116;
        float: none;
        position: absolute;
        width: 246px;
        margin: 20px auto 0;
        box-sizing: border-box;
        box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
        background-color: rgba(54, 41, 62, 0.9);
        left: 50%;
        margin-left: -123px;
        z-index: 5;
        
        .menu {
           &__item {
                border-bottom: 1px solid #35273d;
                border-top: 1px solid #695272;
                display: block;
                padding: 9px 0;
                margin: 0;
                position: relative;

                &:hover {
                    border-bottom: 1px solid #35273d;
                    border-top: 1px solid #695272;
                    background-color: rgba(0, 0, 0, 0.3);
                }

                &:first-child {
                    border-top: 0 none;
                    margin-right: 0;
                    border-radius: 10px 10px 0 0;
                    padding-top: 14px;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 46px;
                        height: 2px;
                        background: #edbfff;
                        left: 50%;
                        margin-left: -23px;
                        bottom: 3px;
                    }
                }

                &:nth-child(2) {
                    margin-right: 0;
                    background-color: rgba(0, 0, 0, 0.3);
                    padding-top: 8px;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        height: 2px;
                        background: #edbfff;
                        bottom: 0;
                    }
                }

                &:nth-child(3) {
                    margin-right: 0;
                    padding: 8px 0;
                }

                &:nth-child(4) {
                    margin-right: 0;
                    padding-bottom: 8px;
                }

                &:nth-child(5) {
                    margin-right: 0;
                    padding-bottom: 10px;
                }

                &:last-child {
                    border-bottom: 0 none;
                    margin-right: 0;
                    border-radius: 0 0 10px 10px;
                    padding-top: 7px;
                    padding-bottom: 10px;
                }
            }
        }
    }
    
    .slider {
        margin-top: 92px;
        text-align: left;
        height: 246px;
        
        &__title {
            font-size: 36px;
        }
        
        &__sub-title {
            font-size: 18px;
            margin-top: 4px;
        }
        
        &__text-container {
            padding-top: 92px;
            padding-left: 39px;
            width: 210px;
        }
        
        &__img {
            margin-right: 32px;
            top: -9px;
            height: 267px;
            
            img {
                width: 191px;
            }
        }
        
        &__control {
            margin-right: 199px;
            
            &--light {
                position: absolute;
                top: 364px;
                margin-left: 202px;
            }
        }
        
        &__text {
            display: none;
        }
    }
    
    .about {
        height: 599px;
        
        &__item {
            width: 376px;
            margin-left: 84px;
            
            &:nth-child(2) {
                margin-left: 84px;
            }
            
            &:nth-child(2) {
                margin-top: 24px;
            }
            
            &:nth-child(3) {
                margin-top: 28px;
                margin-left: 84px;
                width: 376px;
                
                .about__more {
                    margin-right: 7px;
                }
            }
        }
        
        &__more {
            margin-right: 7px;
            margin-top: 17px;
        }
        
        &--768 {
            display: inline;
        }
    }
    
    .testimonials {
        padding-top: 71px;
        position: relative;
        height: 646px;
        
        &__back {
            margin-left: 43px;
            width: 417px;
        }
        
        &__title {
            font-size: 29px;
        }
        
        &__title-start {
            display: inline;
            margin-left: 4px;
        }
        
        &--960 {
            display: block;
            margin-top: 14px;
        }
        
        &--768 {
            display: none;
        }
    }
    
    .updates {
        margin-top: 91px;
        margin-right: 24px;
        margin-bottom: 88px;
        
        &__post {
            &:nth-child(3) {
                margin-bottom: 24px;
            }
        }
        
        &__post-img {
            margin-right: 18px;
        }
        
        &__more {
            margin-right: 36px;
            margin-top: 26px;
        }
    }
    
    .line {
        clear: both;
    }
    
    .logos-box {
        padding-top: 36px;
        padding-bottom: 40px;
        
        &__item {
            &:first-child {
                margin-left: 83px;
            }
            
            &:nth-child(4) {
                margin-top: 26px;
                margin-left: 68px;
            }
            
            &:nth-child(5) {
                margin-top: 26px;
            }
            
            &:nth-child(6) {
                margin-top: 26px;
            }
        }
    }
    
    .blog {
        height: 668px;
        padding-top: 81px;
        
        &__item {
            margin-left: 18px;
            width: 464px;
            
            &:nth-child(2) {
                margin-top: 59px;
            }
            
            &:nth-child(3) {
                margin-top: 62px;
            }
        }
        
        &__text {
            font-size: 15.2px;
        }
        
        &--480 {
            display: none;
        }
    }
    
    footer {
        padding-top: 46px;
    }
    
    .design {
        margin-right: 172px;
        margin-top: 32px;
    }
}

@media (max-width: 479px) {
    .container {
        width: 320px;
    }
    
    header {
        height: 516px;
    }
    
    .menu {
        &--footer {
            display: none;
        }
        
        &--480 {
            background: none;
            border-color: transparent;
            box-shadow: none;
            
            .menu {
                &__item {
                    border-color: transparent;
                    display: none;
                    
                    &:first-child {
                        display: block;
                        border-top: 0 none;
                    }
                }
            }
            
            &:hover {
                border: 1px solid #051116;
                box-shadow: 3px 0 5px rgba(0, 0, 0, 0.2);
                background-color: rgba(54, 41, 62, 0.9);
                
                .menu {
                    &__item {
                        display: block;
                        border-bottom: 1px solid #35273d;
                        border-top: 1px solid #695272;
                        
                        &:first-child {
                            border-top: 0 none;
                        }
                    }
                }
            }
        }
    }
    
    .slider {
        background-color: transparent;
        height: 227px;
        
        &__img {
            display: none;
        }
        
        &__text-container {
            padding-left: 65px;
        }
        
        &__control {
            margin-right: 118px;
            
            &--light {
                margin-left: 139px;
            }
        }
    }
    
    .about {
        padding-top: 70px;
        
        &__item {
            width: 217px;
            
            &:nth-child(1) {
                margin-bottom: 24px;
            }
            
            &:nth-child(2) {
                margin-bottom: 40px;
                margin-top: 0;
                
                .about__more {
                    margin-right: 7px;
                    margin-top: 17px;
                }
            }
            
            &:nth-child(3) {
                margin-left: 84px;
                margin-top: 0;
                width: 217px;
                
                .about__more {
                    margin-right: 7px;
                }
            }
        }
        
        &--768 {
            display: none;
        }
        
        &--320 {
            display: none;
        }
    }
    
    .testimonials {
        padding-top: 68px;
        height: 649px;
        
        &__title {
            font-size: 23.2px;
            margin-left: 20px;
            
            &::before {
                left: -60px;
                top: -7px;
            }
        }
        
        &__title-start {
            display: block;
            margin-top: 1px;
            margin-left: 1px;
        }
        
        &__back {
            padding-right: 36px;
            width: 257px;
        }
        
        &__text {
            margin-top: 5px;
        }
        
        &--320 {
            display: none;
        }
    }
    
    .blog {
        display: none;
    }
    
    .updates {
        margin-right: 0;
        margin-top: 93px;
        width: 301px;
        
        &__post {
            &:nth-child(2) {
                margin-bottom: 24px;
            }
            
            &:nth-child(3) {
                margin-bottom: 30px;
            }
        }
        
        &__more {
            margin-right: 26px;
            margin-top: 24px;
        }
        
        &--320 {
            display: none;
        }
    }
    
    .logos-box {
        padding-top: 51px;
        padding-bottom: 74px;
        
        &__item {
            &:first-child {
                margin-left: 62px;
            }
            
            &:nth-child(3) {
                margin-left: 70px;
                margin-top: 61px;
            }
            
            &:nth-child(4) {
                margin-top: 61px;
                margin-left: 65px;
            }
            
            &:nth-child(5) {
                margin-top: 43px;
                margin-left: 42px;
            }
            
            &:nth-child(6) {
                margin-top: 43px;
            }
        }
    }
    
    footer {
        padding-top: 41px;
    }
    
    .design {
        margin-right: 93px;
        margin-top: 0;
    }
}