@import 'variable';
@import 'mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.logo-container {
    margin: 35px 0;
    
    &__social {
        float: right;
        margin-top: 13px;
    }
    
    &__item {
        margin-left: 18px;
        @include dib;
        @include vam;

        &--fb {
            background: $sprite -139px -1px $nr;
            height: 16px;
            width: 8px;
        }

        &--twitter {
            background: $sprite -161px -4px $nr;
            height: 13px;
            width: 17px;
        }

        &--rss {
            background: $sprite -51px -1px $nr;
            height: 15px;
            width: 15px;
        }

        &--in {
            background: $sprite -80px 0px $nr;
            height: 15px;
            width: 16px;
        }

        &--skype {
            background: $sprite -108px 0px $nr;
            height: 16px;
            width: 16px;
        }
    }
}

.navigation {
    background-color: $c-back;
    height: 56px;
    margin-bottom: 40px;
    
    &__search {
        float: right;
        border: 1px solid $c-border;
        background: $sprite 215px 12px $nr $c-search;
        color: $c-white;
        width: 240px;
        height: 40px;
        outline: none;
        margin-top: 8px;
        margin-right: 8px;
        padding: 0 27px 0 12px;
        
        @include placeholder;
    }
}

.menu {
    float: left;
    
    &__item {
        list-style: none;
        @include dib;
        height: 56px;
        border-right: 1px solid #181a1d;
        text-transform: uppercase;
        font-size: 14px;
        
        &:hover {
            cursor: pointer;
            
            .menu__link {
                color: $c-link;
            }
        }
        
        &--active {
            background-color: $c-link-active;
            
            &:hover {
                .menu__link {
                    color: $c-white;
                }
            }
        }
    }
    
    &__link {
        text-decoration: none;
        color: $c-white;
        display: block;
        line-height: 56px;
        padding: 0 38px;
    }
}

.advantage {
    margin-bottom: 90px;
    
    > div {
        display: inline-block;
    }
    
    &__count {
        color: $c-count;
        font-size: 90px;
        @include dib;
        vertical-align: top;
        line-height: 62px;
        margin-right: 5px;
    }
    
    &__info {
        @include dib;
        @include vat;
        width: 265px;
    }
    
    &__image {
        @include dib;
        @include vat;
        margin-bottom: 15px;
        
        &--setting {
            background: $sprite -41px -29px $nr;
            width: 32px;
            height: 32px;
        }
        
        &--params {
            background: $sprite -92px -26px $nr;
            width: 32px;
            height: 32px;
        }
        
        &--truck {
            background: $sprite -139px -32px $nr;
            width: 32px;
            height: 26px;
        }
    }
    
    &__title {
        margin-bottom: 25px;
        color: $c-title;
        font-size: 20px;
    }
    
    &__body {
        color: $c-body;
        margin-bottom: 25px;
    }
    
    &__link {
        text-decoration: none;
        color: $c-title;
        font-size: 13px;
        font-weight: bold;
        
        &:after {
            @include dib;
            width: 10px;
            height: 9px;
            content: '';
            background: $sprite 0 -70px $nr;
            margin-left: 9px;
            vertical-align: baseline;
        }
        
        &:hover {
            color: $c-link-active;
            
            &:after {
                background: $sprite 0 -81px $nr;
            }
        }
    }
    
    &__power {
        margin-right: 30px;
    }
    
    &__technologies {
        margin-right: 30px;
    }
}

.services {
    padding: 50px 0 65px 0;
    background-color: $c-back;
    color: $c-white;
    
    &__title {
        font-size: 24px;
        margin-bottom: 55px;
    }
    
    &__item {
        width: 260px;
        @include dib;
        text-align: center;
        position: relative;
        text-decoration: none;
        color: $c-white;
        margin-right: 35px;
        
        &:hover {
            color: $c-link;
            
            .services__layer {
                display: block;
            }
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__layer {
        background-color: rgba(46, 140, 227, 0.8);
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        height: 260px;
        padding-top: 100px;
        font-size: 60px;
        color: $c-white;
        display: none;
    }
    
    &__name {
        margin-top: 30px;
        @include db;
    }
}

.news-container {
    background: $c-news;
    padding: 60px 0 80px 0;
}

.news {
    @include dib;
    @include vat;
    margin-right: 10px;
    
    &__title {
        color: $c-back;
        font-size: 24px;
        margin-bottom: 45px;
    }
    
    &__box {
        margin-bottom: 30px;
        
        &:last-child {
            margin-bottom: 0;
        }
        
        &__img {
            @include dib;
            @include vat;
            margin-right: 30px;
        }
        
        &__body {
            @include dib;
            @include vat;
            width: 370px;
        }
        
        &__title {
            color: $c-back;
            text-decoration: none;
            font-size: 16px;
            font-weight: bold;
            
            &:hover {
                color: $c-link-active;
            }
        }
        
        &__info {
            margin-top: 10px;
            margin-bottom: 25px;
            color: $c-info;
        }
        
        &__user {
            text-decoration: none;
            color: $c-user;
        }
        
        &__text {
            color: $c-body;
        }
    }
}

.banner {
    @include dib;
    @include vat;
    
    &__title {
        color: $c-back;
        font-size: 24px;
        margin-bottom: 45px;
    }
    
    &__accordion {
        height: 40px;
        width: 550px;
        border: 1px solid $c-accordion-border;
        color: $c-back;
        text-transform: uppercase;
        background: $c-white;
        margin-top: 5px;
        cursor: pointer;
        
        &:first-child {
            margin-top: 0;
        }
        
        &--open {
            background: $c-link;
            border-color: transparent;
            color: $c-white;
            
            .banner__left {
                border-right: 1px solid $c-banner; 
                
                &--open {
                    @include dib;
                }
                
                &--close {
                    display: none;
                }
            }
        }
    }
    
    &__left {
        float: left;
        width: 34px;
        border-right: 1px solid $c-accordion-border; 
        height: 38px;
        line-height: 40px;
        text-align: center;
        font-size: 12px;
        
        &--open {
            display: none;
        }
    }
    
    &__right {
        margin-left: 46px;
        line-height: 40px;
    }
    
    &__text {
        width: 550px;
        padding: 25px 0 35px 40px;
        color: $c-body;
        display: none;
    }
}

.partners {
    text-align: center;
    padding: 90px 0;
    
    &__item {
        text-decoration: none;
        margin-right: 30px;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.links {
    background: $c-back;
    padding: 60px 0 85px 0;
    
    &__item {
        width: 255px;
        @include dib;
        @include vat;
        margin-right: 40px;
        
        a {
            text-decoration: none;
            color: $c-link-f;
            
            &:hover {
                color: $c-link-active;
            }
        }
        
        &:last-child {
            margin-right: 0;
        }
    }
    
    &__title {
        color: $c-white;
        text-transform: uppercase;
        margin-bottom: 33px;
    }
    
    &__list {
        border-bottom: 1px solid $c-list;
        list-style: none;
        padding-bottom: 12px;
        padding-top: 12px;
        
        &:last-child {
            border-bottom: none;
        }
    }
}

.footer {
    background: $c-search;
    color: $c-footer;
    line-height: 60px;
    
    a {
        color: $c-footer;
        text-decoration: none;
    }
    
    > .container > div {
        @include dib;
    }
    
    &__phone {
        margin-left: 30px;
        margin-right: 40px;
    }
    
    &__rights {
        float: right;
    }
    
    &--location {
        background: $sprite -73px -74px $nr;
        width: 12px;
        height: 16px;
        margin-right: 10px;
        @include dib;
    }
    
    &--phone {
        background: $sprite -103px -74px $nr;
        width: 10px;
        height: 16px;
        margin-right: 10px;
        @include dib;
    }
    
    &--mail {
        background: $sprite -131px -76px $nr;
        width: 16px;
        height: 12px;
        margin-right: 10px;
        @include dib;
    }
}