$c-back: #2a2d32;
$c-border: #181a1d;
$c-search: #35383c;
$c-white: #fff;
$c-placeholder: #626466;
$c-link: #f4b60d;
$c-link-active: #248cec;
$c-count: #e9e9ea;
$c-title: #2a2b2e;
$c-body: #8a8a8a;
$c-news: #f7f7f7;
$c-info: #9d9d9d;
$c-user: #0187f4;
$c-accordion-border: #e8e8e8;
$c-banner: #f6c53d;
$c-link-f: #828385;
$c-list: #393c40;
$c-footer: #6f7073;

$sprite: url(../img/sprite.png);
$nr: no-repeat;