<!DOCTYPE html>
<html>
<head>
    <title>Untitled Document</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="js/template.js"></script>
    <script data-main="js/script" src="js/require.js"></script>
</head>
<body>
    <script type="text/template" id="wrapper-template">
        <div class="wrapper">
            <ul class="item-list"></ul>
            <div class="controlls">
                <input type="text" class="item-value">
                <button class="item-add">Add</button>
            </div>
        </div>
    </script>
    
    <script type="text/template" id="list-template">
        <% for (var i = 0; i < data.length; i++) { %>
            <li><span class="edit" data-edit="<%= data[i] %>"><%= data[i] %></span> <span data-value="<%= data[i] %>" class="item-delete"><img src="https://cdn3.iconfinder.com/data/icons/status/100/close_4-512.png" alt="close" width="20"></span></li>
        <% }; %> 
    </script>
</body>
</html>