* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tab-wrapper {
    margin: 40px auto 0;
    width: 500px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.tablist {
    background-color: blanchedalmond;
    padding: 5px 5px 0 5px;
}

.tablist li {
    list-style: none;
    display: inline-block;
}

li > a {
    display: block;
    color: #454545;
    background-color: #f6f6f6;
    border: 1px solid #c5c5c5;
    padding: 5px 10px;
    text-decoration: none;
    border-bottom-width: 0;
    border-radius: 3px 3px 0 0;
}

li > a.active {
    color: #fff;
    background-color: #007fff;
    border: 1px solid #003eff;
    border-bottom-width: 0;
}

.text {
    padding: 10px;
    font-size: 12px;
}

#tab-2,
#tab-3 {
    display: none;
}

.fields-wrapper {
    border: 1px solid #c5c5c5;
    width: 500px;
    margin: 40px auto 0;
    padding: 10px;
}

label {
    width: 90px;
    display: inline-block;
}

.box {
    position: relative;
    margin-bottom: 20px;
}

.box:last-child {
    margin-bottom: 0;
}

.tooltip {
    position: absolute;
    background-color: #fff;
    width: 160px;
    height: 50px;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px black;
    left: 270px;
    top: 0;
    display: none;
}